.gitrepos/
/addons/
/plugins/

Ashita-cli.exe
Ashita.dll
bootloader/pol.exe
config/ashita/
config/boot/example.ini
config/imgui.ini
fonts/
logs/
scripts/default.txt
docs/
resources/
gitrepos/
config/boot/example-privateserver.ini
config/boot/example-retail.ini
